<!doctype html>
<html lang="en">
  <head>
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}fbpagestarter{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <!-- Styles -->
    {{ "fbpagestarter.css" | asset_url | stylesheet_tag }}
    <!-- Style block allowing child pages to inject their own styles -->
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div id="application" class="page-container">      
      <!-- Content block, child page inject content -->
      {% block content %}{% endblock %}
      {% include "footer" %}
    </div>

    <!-- Script block allowing child pages to inject their own scripts -->
    {% block scripts %}{% endblock %}
    {{ "lib/jquery-1.10.0.min.js" | asset_url | script_tag }}
    {{ "lib/fbpagestarter.js" | asset_url | script_tag }}
    {{ "app.js" | asset_url | script_tag }}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  </body>
</html>


<!-- TODO: Debug autogrow -->

<!-- TODO: Seperate presentation page out of the project root folders:-) -->

<!-- TODO: Create some themplates :-) -->

<!-- TODO: Mobile :-) -->

<!-- TODO: Webpage :-) -->