<header class="header">
  <img src="assets/img/header.png" alt="">
  <!-- <a href="https://github.com/tachun/fbpagestarter/archive/master.zip" class="download-btn">Download Plugin</a> -->
  <a href="https://github.com/tachun/fbpagestarter" class="source ribben">GitHub Project</a>
</header>

<nav class="navigation">
  <ul class="cf">
    <li><a href="/" {% if current_p == "home" %}class="selected"{% endif %}>Getting Started</a></li>
    •
    <li><a href="fb-elements" {% if current_p == "fb_elements" %}class="selected"{% endif %}>FB Elements</a></li>
    •
    <li><a href="grid" {% if current_p == "grid" %}class="selected"{% endif %}>Grids</a></li>
    •
    <li><a href="typography" {% if current_p == "type" %}class="selected"{% endif %}>Typography</a></li>
    •
    <li><a href="">Components</a></li>
    •
    <li><a href="">Themes</a></li>
  </ul>
</nav>