<header class="header">
  <img src="assets/img/header.jpg" alt="">
  <!-- <a href="https://github.com/tachun/fbpagestarter/archive/master.zip" class="download-btn">Download Plugin</a> -->
  <a href="https://github.com/tachun/fbpagestarter" class="source ribben" target="_blank">GitHub Project</a>
</header>

<nav class="navigation">
  <ul class="cf">
    <li><a href="index" class='link {% if current_p == "home" %}selected{% endif %}'>Overview</a></li>
    &bull;
    <li><a href="start" class='link {% if current_p == "start" %}selected{% endif %}'>Getting Started</a></li>
    &bull;
    <li><a href="fb-elements" class='link {% if current_p == "fb_elements" %}selected{% endif %}'>FACEBOOK ELEMENTS</a></li>
    &bull;
    <li><a href="grid" class='link {% if current_p == "grid" %}selected{% endif %}'>Grids</a></li>

<!--     <li><a href="https://github.com/tachun/fbpagestarter/archive/master.zip" class="btn" target="_blank">Download</a></li> -->
  </ul>
</nav>