/*!
fbStarteR Basic Stylesheet
v1.0.1
Last Updated: 2012-08-25
Author: Tachun LIN - http://tachunlin.com 
Twitter: @creed88
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@import url(//fonts.googleapis.com/css?family=Crete+Round);


/* tiny clearfix from Nicolas Gallagher, http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {content:""; display:table;} .cf:after {clear:both;} .cf {zoom:1;}


/* Custom css for demo page */
body{
  color: #414141;
  text-align: center;
  font-size: 12px;
  font-family: 'Crete Round', arial, serif;
  position: fixed;
  width: 100%;
  height: 100%;
  /*background: #f2edea;*/
}

.fb-bg{
  width: 810px; 
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #c4cddf;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}

h1{
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #fff;
}

ul, li{
  list-style: none;
}


/* Start css */
.application{
  width: 810px;
}

.app-header{
  text-align: center;
  padding: 0px;
  background: #fff;
}

#socialPlugins div{
  display: none;
}