{% block content %} 
  {% assign current_p = "template" %}
  {% include "header" %}

  <article class="template main-content">
    <p class="article-intro">
      Fbpagestarter is front-end framework that makes it easy to create an application on Facebook.
    </p>
    <section class="content-section grid-demo-2 last">
      <h3 class="section-title left-margin" >Demo - layout example</h3>
    
    </section>
  </article>
{% endblock %}