{% block content %} 
  <article class="">
    <section id="section-intro" class="section-intro">
      <h2 class="section-title">Interact with Facebook</h2>
      <div class="row">
        <div class="col4">
          <h3 class="section-subtitle">Features</h3>
          <ol class="features">
            <li>
              <button class="jsAddToPage">Add tab to a page</button>
            </li>
            <li>
              <button class="jsFbShare" data-link="http://google.com" data-pic="http://demo.fbdoctor.com/fbpagestarter/page/assets/img/200-200.png" data-title="Post to timeline button" data-caption="Add some caption" data-description="description">Post to timeline</button>
            </li>
            <li>
              <button class="jsAskPermissions" data-permissions="email,user_birthday,publish_actions">Ask permissions</button>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </article>
  <!-- TODO: Create my project :-) -->
{% endblock %}