{% block content %}
  {% assign current_p = "home" %}
  {% include "header" %}

  <article class="homepage main-content">
    <section id="features" class="content-section">
      <h3 class="section-title">Features</h3>
      <ul>
        <li>Loading and initialization Facebook's JS SDK</li>
        <li>Facebook login</li>
        <li>Dialogs (add page tab, Feed, OAuth, Requests, Send)</li>
        <li>Canvas Methods (setSize, setAutoGrow, scrollTo)</li>
        <li>Check user's like status</li>
        <li>810px Grid system</li>
        <li>Basic styles (Headings, Buttons, Form)</li>
      </ul>
    </section>

    <section id="" class="content-section">
      <h3 class="section-title">HOW IT WORKS?</h3>
      <h4>Javascript</h4>
      <p class="article-intro">
        Include jQuery library first, than include <strong>fbpagestarter.js</strong> in your header.
      </p>
      <pre><code>&lt;script src="<strong>YOUR_PATH/fbpagestarter.min.js</strong>"&gt&lt;script&gt</code></pre>
      
      <h4>Basic Usage</h4>
      <pre><code>
$(function(){
  $(document).<strong>fbStarter</strong>({
    appId     : '<strong>YOUR APP ID</strong>',
    pageId    : '<strong>YOUR PAGE ID</strong>',
    canvasUrl : '<strong>//YOUR_CANVAS_URL</strong>'  <em>//ex: '//blabla.com/'</em>
  });
});
      </code></pre>
      
      <h4>Advance Usage</h4>
      <pre><code>
$(function(){
  $(document).<strong>fbStarter</strong>({
    appId              : '<strong>YOUR APP ID</strong>',
    pageId             : '<strong>YOUR PAGE ID</strong>',
    locales            : '<strong>fr_FR</strong>',  <em>//Your locale, default is en_US</em>
    canvasUrl          : '<strong>//YOUR_CANVAS_URL</strong>',  <em>//ex: '//blabla.com/'</em>
    activeFangate      : <strong>true</strong>,  <em>//Active Fangate</em>
    dialogSuccess      : <strong>function(){
      <em>//Custome callback function for dialog submit success</em>
    }</strong>,
    dialogFail         : <strong>function(){
      <em>//Custome callback function when user close dialog without submit</em>
    }</strong>,
    permissionsSuccess : <strong>function(){
      FB.api('/me', function(response) {
        <em>//Custome callback function for authentication success</em>
      });</strong>
    }
  });
});
      </code></pre>


      <h4>Css</h4>
      <p class="article-intro">
        If you want to use FBPAGESTARTER's grid system, add a class "<strong>page-container</strong>"" on your application's main wrapper.
      </p>
      <pre><code>&lt;div id="application" class="<strong>page-container</strong>"&gt;&lt;/div&gt;</code></pre>
    </section>

    <section id="useful-links" class="content-section last">
      <h2 class="section-title">Useful links</h2>
      <div class="row">
        <div class="col12">
          <ol>
            <li><a href="https://developers.facebook.com/web/" target="_blank">Facebook Developers</a></li>
            <li><a href="https://developers.facebook.com/tools/debug" target="_blank">Facebook Debugger</a></li>
            <li><a href="https://developers.facebook.com/docs/javascript/gettingstarted/" target="_blank">JS SDK</a></li>
            <li><a href="https://developers.facebook.com/bugs/" target="_blank">Facebook Bugs</a></li>
            <li><a href="http://facebook.stackoverflow.com/" target="_blank">Facebook x Stackoverflow</a></li>
            <li><a href="https://developers.facebook.com/blog/">Developer Blog</a></li>
            <li><a href="https://developers.facebook.com/docs/opengraph/" target="_blank">Open graph overview</a></li>
            <li><a href="https://developers.facebook.com/docs/plugins/" target="_blank">Social plugins</a></li>
          </ol>
        </div>
      </div>
    </section>

    <section id="compatibility" class="content-section last">
      <h2 class="section-title">BROWSER COMPATIBILITY</h2>
    </section>
    

    <section id="like-wrapper" style="display:none;">liked</section>
    <section id="unlike-wrapper" style="display:none;">unlike</section>
  </article>
{% endblock %}