{% block content %}
  {% assign current_p = "home" %}
  {% include "header" %}

  <article class="homepage main-content">
    <h3 class="section-title">install tab to page</h3>
    <p class="intro">
      blabla
    </p>
    <section class="content-section">
    </section>
    

    <section id="like-wrapper" style="display:none;">liked</section>
    <section id="unlike-wrapper" style="display:none;">unlike</section>
  </article>
{% endblock %}