{% block content %}
  {% assign current_p = "home" %}
  {% include "header" %}

  <article class="homepage main-content">
    <p class="article-intro">
      Fbpagestarter is front-end starter kit that makes it easy to create a page tab on Facebook.
    </p>
    <section id="features" class="content-section">
      <h3 class="section-title">Features</h3>
      <ul>
        <li>Loading and initialization Facebook's JS SDK</li>
        <li>Facebook login</li>
        <li>Dialogs (Add page tab, Feed, OAuth, Requests, Send)</li>
        <li>Canvas Methods (setSize, setAutoGrow, scrollTo)</li>
        <li>810px Grid system</li>
      </ul>
    </section>

    <section id="compatibility" class="content-section">
      <h3 class="section-title">BROWSER COMPATIBILITY</h3>
      <img src="assets/img/browsers.png" alt="compatibility" class="browsers-img">
      <ul class="browsers-list">
        <li>Chrome</li>
        <li>Firefox 3.5+</li>
        <li>Safari 4+</li>
        <li>Opera 9+</li>
        <li>IE7+</li>
      </ul>
    </section>

    <section id="useful-links" class="content-section last">
      <h3 class="section-title">Useful links</h3>
      <div class="row">
        <div class="col12">
          <ol>
            <li><a href="https://developers.facebook.com/web/" target="_blank">Facebook Developers</a> ( Create and manager your facebook application )</li>
            <li><a href="https://developers.facebook.com/tools/debug" target="_blank">Facebook Debugger</a> ( When you get a facebook error, check your page's url with it )</li>
            <li><a href="https://developers.facebook.com/docs/javascript/gettingstarted/" target="_blank">JS SDK</a></li>
            <li><a href="https://developers.facebook.com/bugs/" target="_blank">Facebook Bugs</a></li>
            <li><a href="http://facebook.stackoverflow.com/" target="_blank">Facebook x Stackoverflow</a></li>
            <li><a href="https://developers.facebook.com/blog/">Developer Blog</a></li>
            <li><a href="https://developers.facebook.com/docs/opengraph/" target="_blank">Open graph overview</a></li>
            <li><a href="https://developers.facebook.com/docs/plugins/" target="_blank">Facebook Social plugins</a></li>
          </ol>
        </div>
      </div>
    </section>
    
  </article>
{% endblock %}