{% block content %}
  {% assign current_p = "home" %}
  {% include "header" %}

  <article class="homepage main-content">
    <p class="article-intro">
      Fbpagestarter is front-end starter kit that makes it easy to create a Page Tab on Facebook.
    </p>
    <section id="features" class="content-section">
      <h3 class="section-title">Features</h3>
      <ul>
        <li>Loading and initialization Facebook's JS SDK</li>
        <li>Facebook login (permissions)</li>
        <li>Dialogs (add page tab, Feed, OAuth, Requests, Send)</li>
        <li>Canvas Methods (setSize, setAutoGrow, scrollTo)</li>
        <li>810px Grid system</li>
      </ul>
    </section>

    <section class="content-section grid-demo-2">
      <h3 class="section-title" >Download</h3>
      <a class="btn" href="https://github.com/tachun/fbpagestarter/archive/master.zip" target=''_blank>DOWNLOAD FBPAGESTARTER</a>
    </section>

    <section id="compatibility" class="content-section">
      <h3 class="section-title">BROWSER COMPATIBILITY</h3>
      <img src="assets/img/browsers.png" alt="compatibility" class="browsers-img">
      <ul class="browsers-list">
        <li>Chrome</li>
        <li>Firefox 3.5+</li>
        <li>Safari 4+</li>
        <li>Opera 9+</li>
        <li>IE7+</li>
      </ul>
    </section>

    <section id="useful-links" class="content-section">
      <h3 class="section-title">Useful links</h3>
      <div class="row">
        <div class="col12">
          <ol>
            <li><a href="https://developers.facebook.com/web/" target="_blank">Facebook Developers</a> ( Create and manage your Facebook application )</li>
            <li><a href="https://developers.facebook.com/tools/debug" target="_blank">Facebook Debugger</a> ( When you get a Facebook error, check it against your url to have more transparency )</li>
            <li><a href="https://developers.facebook.com/docs/javascript/gettingstarted/" target="_blank">JS SDK</a></li>
            <li><a href="https://developers.facebook.com/bugs/" target="_blank">Facebook Bugs</a></li>
            <li><a href="http://facebook.stackoverflow.com/" target="_blank">Facebook x Stackoverflow</a></li>
            <li><a href="https://developers.facebook.com/blog/">Developer Blog</a></li>
            <li><a href="https://developers.facebook.com/docs/opengraph/" target="_blank">Open graph overview</a></li>
            <li><a href="https://developers.facebook.com/docs/plugins/" target="_blank">Facebook Social plugins</a></li>
          </ol>
        </div>
      </div>
    </section>

    <section id="license" class="content-section last">
      <h3 class="section-title" >License</h3>
      <p class="license">
        Fbpagestarter plugin is released under the <a href="http://en.wikipedia.org/wiki/MIT_License" target="_blank">MIT License</a>. Feel free to use it in personal and commercial projects.
      </p>
      <ul class="social-links">
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <li class="github-star">
          <iframe src="https://demo.fbdoctor.com/fbpagestarter/page/github-btn.html?user=tachun&amp;repo=fbpagestarter&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
        </li>
        <li class="tweet">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="creed88">Tweet</a>
        </li>
        <li class="follow">
          <a href="https://twitter.com/creed88" class="twitter-follow-button" data-show-count="false">Follow @creed88</a>
        </li>
      </ul>
    </section>

  </article>
{% endblock %}