{% block content %}
  {% assign current_p = "home" %}
  {% include "header" %}

  <article class="homepage main-content">
    <h3 class="section-title">WHAT IS FBPAGESTARTER</h3>
    <p class="intro">
      FBPAGESTARTER provide an easiest front-end way to build a Facebook Page tab app
    </p>
    <section id="" class="content-section">
      <pre><code>&lt;button class="<strong>fb-dialog</strong>" <strong>data-fbactiontype="add_page_tab"</strong>&gtAdd tab to a page&lt;/button&gt</code></pre>
    </section>

    <section id="useful-links" class="content-section last">
      <h2 class="section-title">Useful links</h2>
      <div class="row">
        <div class="col12">
          <ol>
            <li><a href="https://developers.facebook.com/web/" target="_blank">Facebook Developers</a></li>
            <li><a href="https://developers.facebook.com/tools/debug" target="_blank">Facebook Debugger</a></li>
            <li><a href="https://developers.facebook.com/docs/javascript/gettingstarted/" target="_blank">JS SDK</a></li>
            <li><a href="https://developers.facebook.com/bugs/" target="_blank">Facebook Bugs</a></li>
            <li><a href="http://facebook.stackoverflow.com/" target="_blank">Facebook x Stackoverflow</a></li>
            <li><a href="https://developers.facebook.com/blog/">Developer Blog</a></li>
            <li><a href="https://developers.facebook.com/docs/opengraph/" target="_blank">Open graph overview</a></li>
            <li><a href="https://developers.facebook.com/docs/plugins/" target="_blank">Social plugins</a></li>
          </ol>
        </div>
      </div>
    </section>
    

    <section id="like-wrapper" style="display:none;">liked</section>
    <section id="unlike-wrapper" style="display:none;">unlike</section>
  </article>
{% endblock %}