{% block content %} 
  <article class="">
    <section id="like-wrapper" style="display:none;">liked</section>
    <section id="unlike-wrapper" style="display:none;">unlike</section>
  </article>
	<!-- TODO: Create my project :-) -->
{% endblock %}