{% block content %} 
  <article class="install_to_page">
    <h1>Adding an App to your Page</h1>
    <p><button id="install_to_page">Add tab to a page</button></p>
    <p id='msg' style="color:#999; text-transform: italic;"></p>
  </article>
{% endblock %}