{% block content %} 
  <article class="links">
    <section id="section-intro" class="section-intro">
      <h2 class="section-title">Easiest way to build a Facebook Page tab app</h2>
      <div class="row">
        <div class="col12">
          <ol>
            <li><a href="https://developers.facebook.com/web/" target="_blank">Facebook Developers</a></li>
            <li><a href="https://developers.facebook.com/tools/debug" target="_blank">Facebook Debugger</a></li>
            <li><a href="https://developers.facebook.com/docs/javascript/gettingstarted/" target="_blank">JS SDK</a></li>
            <li><a href="https://developers.facebook.com/bugs/" target="_blank">Facebook Bugs</a></li>
            <li><a href="http://facebook.stackoverflow.com/" target="_blank">Facebook x Stackoverflow</a></li>
            <li><a href="https://developers.facebook.com/blog/">Developer Blog</a></li>
            <li><a href="https://developers.facebook.com/docs/opengraph/" target="_blank">Open graph overview</a></li>
            <li><a href="https://developers.facebook.com/docs/plugins/" target="_blank">Social plugins</a></li>
          </ol>
        </div>
      </div>
    </section>
  </article>
{% endblock %}