{% block content %} 
  {% assign current_p = "template" %}
  {% include "header" %}

  <article class="template main-content">
    <p class="article-intro">
      Fbpagestarter is front-end framework that makes it easy to create an application on Facebook.
    </p>
    <section id="templates" class="content-section last">
      <h3 class="section-title">Template</h3>
      <div class="row">
        <div class="col12">

        </div>
      </div>
    </section>
  </article>
{% endblock %}