{% block content %}
  {% assign current_p = "type" %}
  {% include "header" %}

  <article class="typography main-content">
    <section id="section-typography" class="content-section section-typography last">
      <h2 class="section-title">Typography</h2>
      <div class="row">
        <div class="col4">
          <h3 class="section-subtitle">Headers</h3>
          <h1>h1 header</h1>
          <h2>h2 header</h2>
          <h3>h3 header</h3>
          <h4>h4 header</h4>
          <h5>h5 header</h5>
          <h6>h6 header</h6>
        </div>
        <div class="col4">
          <h3 class="section-subtitle">Subheader</h3>
          <p class="section-desc"></p>
          <h1 class="light-weight">h1 header</h1>
          <h2 class="light-weight">h2 header</h2>
          <h3 class="light-weight">h3 header</h3>
          <h4 class="light-weight">h4 header</h4>
          <h5 class="light-weight">h5 header</h5>
          <h6 class="light-weight">h6 header</h6>
        </div>
        <div class="col4">
          <h3 class="section-subtitle">Paragraphs</h3>
          <p>Nisi aliquam augue nisi magnis mattis magna, in porttitor sagittis.Elementum. Habitasse tortor. Etiam, ultrices in augue hac a. Tortor nunc diam, hac odio sed penatibus? Et nunc. <a href="#">Scelerisque</a>, porttitor mauris adipiscing amet, montes urna duis scelerisque. Ac, vel? Urna egestas, ac et ultrices! Dolor elementum. Proin tempor magna cursus magna in ultrices? </p>

          <p>Turpis urna rristique sed porta, enim eros, tincidunt mus, et, elementum arcu in, in magnis. Ultrices purus ultricies, <a href="#">nec pid</a>, aliquam mid adipiscing cum. Tristique sed porta, enim eros, risus nisi in parturient.</p>
        </div>
      </div>
    </section>
  </article>
{% endblock %}